<div class="card" style="col-3">
	<a class="card-hover" href="/characters/{{id}}">
		<div class="list-group list-group-flush d-flex justify-content-between">

			<div class="list-group-item">Name: {{name}}</div>
			<div class="list-group-item">Level:{{level}}</div>
			<div class="list-group-item">Class: {{class}}</div>
			<div class="list-group-item">Race: {{race}}</div>
			{{#if user.username}}
				<div class="list-group-item">Created By: {{user.username}}</div>
			{{else}}
				<div class="list-group-item">Created By: The Matrix</div>
			{{/if}}
		</div>
	</a>
</div>