<div class="card" style="col-3">
	<a href="/characters/{{id}}">
		<div class="list-group list-group-flush d-flex justify-content-between">
			<div class="list-group-item">{{name}}</div>
			<div class="list-group-item">{{class}}</div>
			<div class="list-group-item">{{level}}</div>
			<div class="list-group-item">{{user.username}}</div>
		</div>
	</a>
</div>