<div class="card" style="col-3">
	<a href="/characters/{{id}}">
		<dl class="list-group list-group-flush">
			<dd class="list-group-item">{{name}}</dd>
			<dd class="list-group-item">{{class}}</dd>
			<dd class="list-group-item">{{level}}</dd>
			<dd class="list-group-item">{{user.username}}</dd>
		</dl>
	</a>
</div>