<div class="card" style="col-3">
	<a href="/characters/{{id}}">
		<div class="list-group list-group-flush d-flex justify-content-between">
			<span class="list-group-item">{{name}}</span>
			<span class="list-group-item">{{class}}</span>
			<span class="list-group-item">{{level}}</span>
			<span class="list-group-item">{{user.username}}</span>
		</div>
	</a>
</div>