<article class="character">
	<div class="name">
		<span>Name: {{name}}</span>
		<span>Class: {{class}}</span>
		<span>Level: {{level}}</span>
        <span>Creator: {{user.username}}</span>
	</div>
	<div class="stats">
		<span>Strength {{str}}</span>
		<span>Dexterity {{dex}}</span>
		<span>Constitution {{con}}</span>
		<span>Intelligence {{int}}</span>
		<span>Wisdom {{wis}}</span>
		<span>Charisma {{cha}}</span>
	</div>
</article>