        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Character Libary</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#">Clickable Character Info</a>
                </li>
                <li>
                    <a href="#">Clickable Character Info</a>
                </li>
                <li>
                    <a href="#">Clickable Character Info</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <div class="navbar-nav ms-auto">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
            </div>
        </div>
        </nav>






{{!-- <ol class="character-list">
    {{#each character as |character|}}
    <li>
        <article class="character">
            <div class="name">
                <span>Name: {{character.name}}</span>
                <span>Class: {{character.class}}</span>
                <span>Level: {{character.level}}</span>
            </div>
            <div class="stats">
                <span>Strength {{character.str}}</span>
                <span>Dexterity {{character.dex}}</span>
                <span>Constitution {{character.con}}</span>
                <span>Intelligence {{character.int}}</span>
                <span>Wisdom {{character.wis}}</span>
                <span>Charisma {{character.cha}}</span>
            </div>
        </article>
    </li>
    {{/each}}
</ol> --}}